.lanes-graph-app {
    fill: transparent;
    stroke: lightgray;
    stroke-width: 7;
}

.lanes-graph-action {
    fill: lightblue;
}

.lanes-graph-connection {
    stroke: lightgray;
    stroke-width: 7;
    fill: none;
}

.lanes-graph-spinner {
    stroke: #5cb85c;
    stroke-width: 1;
}
