.navbar {
  border-radius: 0px;
}

.app-image {
    float: left;
    margin-right: 16px;
    width: 40px;
    height: 40px;
}

.detail-view {
    margin-top: 16px;
}

.detail-view button {
    margin-bottom: 16px;
}

.selectable td:hover {
    cursor: pointer;
}

.loading-icon {
    float: left;
    margin-right: 16px;
    margin-top: 4px;
}

form {
    padding: 16px;
}

.header-button {
    margin-left: 4px;
    margin-top: 4px;
}
