<div ng-hide="appsLoading">
    <a style="float: left; margin-right: 16px; margin-top: 4px;" ui-sref="apps.add" type="button" class="btn btn-default"><i class="fa fa-plus"></i></a>
    <h1 class="page-header">Apps</h1>

    <div class="placeholders">
        <a ng-repeat="app in apps" ui-sref="app.general({ appId: app.id })">
            <div class="col-sm-3 placeholder">
                <img ng-src="{{app.iconUrl}}" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4 ng-bind="app.name"></h4>
                <span class="text-muted" ng-bind="app.description"></span>
            </div>
        </a>
    </div>
</div>

<div ng-show="appsLoading">
    <i class="fa fa-circle-o-notch fa-spin fa-2x loading-icon"></i>
    <h1 class="page-header">Loading...</h1>
</div>
